body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    height:100vh;
    background: #f4f4f4;
}
.container{
    background: rgb(0, 0, 0);
    text-align: center;
    width: fit-content;
    border-radius: 0ch;
    padding: auto;
}
button{
    padding: auto;
    border: 1px solid;
    background: -moz-element();
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: wheat;
}
#password{
    margin: 10px,0;
    padding:8px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
